<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>Electro⚡| Admin Home</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Electro">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="swalahCodes">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="/css/theme.min.css">
  <!-- Google Tag Manager-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
  </script>
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
  <!-- Google Tag Manager (noscript)-->

  <main class="page-wrapper">
    <!-- Navbar Marketplace-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->

    <!-- Dashboard header-->
    <div class="page-title-overlap bg-accent pt-4">
      <div
        class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="d-flex align-items-center pb-3">

          <div class="ps-3">
            <h3 class="text-light fs-lg mb-0">Electro⚡| Admin </h3><span
              class="d-block text-light fs-ms opacity-60 py-1">With Great Power comes Great Responsiblity! </span>
          </div>
        </div>

      </div>
    </div>
    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <!-- Sidebar-->
          <aside class="col-lg-4 pe-xl-5">
            <!-- Account menu toggler (hidden on screens larger 992px)-->
            <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu"
                data-bs-toggle="collapse"><i class="ci-menu me-2"></i>Account menu</a></div>
            <!-- Actual menu-->
            <div class="h-100 border-end mb-2">
              <div class="d-lg-block collapse" id="account-menu">
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Account</h3>
                </div>
                <ul class="list-unstyled mb-0">
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active"
                      href="/admin/home"><i class="ci-home opacity-60 me-2"></i>Home Dashboard</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 "
                      href="/admin/usermanage"><i class="ci-user-circle opacity-60 me-2"></i>User Management</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/categorymanage"><i class="ci-basket opacity-60 me-2"></i>Category Management</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/productmanage"><i class="ci-package opacity-60 me-2"></i>Product management<span
                        class="fs-sm text-muted ms-auto"></span></a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/bannermanage"><i class="ci-image opacity-60 me-2"></i>Banner management<span
                        class="fs-sm text-muted ms-auto"></span></a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/couponmanage"><i class="ci-tag opacity-60 me-2"></i>Coupon management<span
                        class="fs-sm text-muted ms-auto"></span></a></li>
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/orderManage"><i class="ci-delivery opacity-60 me-2"></i>Order Management<span
                        class="fs-sm text-muted ms-auto"></span></a></li>
                        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 "
                          href="/admin/dailySales"><i class="ci-dollar opacity-60 me-2"></i>Sales Report<span
                            class="fs-sm text-muted ms-auto"></span></a></li>
                </ul>
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Other</h3>
                </div>
                <ul class="list-unstyled mb-0">
                 
                  
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="/admin/logout"><i
                        class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
                </ul>
                <hr>
              </div>
            </div>
          </aside>
          <!-- Content-->
          <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
              <h2 class="h3 py-2 text-center text-sm-start">Your sales / earnings</h2>
              <div class="row mx-n2 pt-2">
                <div class="col-md-4 col-sm-6 px-2 mb-4">
                  <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Today Sales</h3>
                    <p class="h2 mb-2"><%= todaySales %> </p>
                    

                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 px-2 mb-4">
                  <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Total Sales</h3>
                    <p class="h2 mb-2"><%= totalSales %> </p>
                    
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 px-2 mb-4">
                  <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Lifetime earnings</h3>
                    <p class="h2 mb-2">₹<%= totalRevenue %> </p>
                    <p class="fs-ms text-muted mb-0">Based on list price</p>
                  </div>
                </div>
              </div>
              <div class="row mx-n2 pt-2">
                
                <div class="col-md-4 col-sm-12 px-2 mb-4">
                  <div class="bg-secondary h-100 rounded-3 p-4 text-center">
                    <h3 class="fs-sm text-muted">Today earnings</h3>
                    <p class="h2 mb-2">₹<%= todayTotalRevenue %> </p>
                    <p class="fs-ms text-muted mb-0">Based on list price</p>
                  </div>
                </div>
              </div>
              <div class="row mx-n2">
                <div class="col-lg-8 px-2">
                  <div class="card mb-4">
                    <div class="card-body">
                      <h3 class="fs-sm pb-3 mb-3 border-bottom">Monthly Sales<span
                          class="fw-normal fs-xs text-muted"></span></h3>
                          <div class="ct-chart ct-golden-section" id="chart1"></div>
                    </div>
                  </div>
                  <div class="card mb-4">
                    <div class="card-body">
                      <h3 class="fs-sm pb-3 mb-3 border-bottom">Monthly Revenue <span
                          class="fw-normal fs-xs text-muted"></span></h3>
                          <div class="ct-chart ct-golden-section" id="chart2"></div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer-->
  <footer class="footer bg-dark pt-5">

    <div class="pt-5 bg-darker">
      <div class="container">
        <div class="row pb-3">
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Fast and free delivery</h6>
                <p class="mb-0 fs-ms text-light opacity-50">Free delivery for all orders over $200</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Money back guarantee</h6>
                <p class="mb-0 fs-ms text-light opacity-50">We return money within 30 days</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">24/7 customer support</h6>
                <p class="mb-0 fs-ms text-light opacity-50">Friendly 24/7 customer support</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Secure online payment</h6>
                <p class="mb-0 fs-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-light mb-5">
        <div class="row pb-2">
          <div class="col-md-6 text-center text-md-start mb-4">
            <div class="text-nowrap mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img
                  class="d-block" src="../public/img/footer-logo-light.png" width="117" alt="Cartzilla"></a>
              <div class="btn-group dropdown disable-autohide">
                <button class="btn btn-outline-light border-light btn-sm dropdown-toggle px-2" type="button"
                  data-bs-toggle="dropdown"><img class="me-2" src="../public/img/flags/en.png" width="20"
                    alt="English">Eng / $</button>
                <ul class="dropdown-menu my-1">
                  <li class="dropdown-item">
                    <select class="form-select form-select-sm">
                      <option value="usd">$ USD</option>
                      <option value="eur">€ EUR</option>
                      <option value="ukp">£ UKP</option>
                      <option value="jpy">¥ JPY</option>
                    </select>
                  </li>
                  <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="../public/img/flags/fr.png"
                        width="20" alt="Français">Français</a></li>
                  <li><a class="dropdown-item pb-1" href="#"><img class="me-2" src="../public/img/flags/de.png"
                        width="20" alt="Deutsch">Deutsch</a></li>
                  <li><a class="dropdown-item" href="#"><img class="me-2" src="../public/img/flags/it.png" width="20"
                        alt="Italiano">Italiano</a></li>
                </ul>
              </div>
            </div>
            <div class="widget widget-links widget-light">
              <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Outlets</a></li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Affiliates</a></li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Support</a></li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Privacy</a></li>
                <li class="widget-list-item me-4"><a class="widget-list-link" href="#">Terms of use</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-center text-md-end mb-4">
            <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="#"><i
                  class="ci-twitter"></i></a><a class="btn-social bs-light bs-facebook ms-2 mb-2" href="#"><i
                  class="ci-facebook"></i></a><a class="btn-social bs-light bs-instagram ms-2 mb-2" href="#"><i
                  class="ci-instagram"></i></a><a class="btn-social bs-light bs-pinterest ms-2 mb-2" href="#"><i
                  class="ci-pinterest"></i></a><a class="btn-social bs-light bs-youtube ms-2 mb-2" href="#"><i
                  class="ci-youtube"></i></a></div><img class="d-inline-block" src="../public/img/cards-alt.png"
              width="187" alt="Payment methods">
          </div>
        </div>
        <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a
            class="text-light" href="https://createx.studio/" target="_blank" rel="noopener">swalahCodes</a></div>
      </div>
    </div>
  </footer>
  <!-- Toolbar for handheld devices (Default)-->
  
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
  <% let yearlyCount = yearlySales.map((val )=>{ return val.total}) %> 
  <% let montlyRev = monthlyRevenue.map((val )=>{ return val.total}) %> 
  <h1><%=montlyRev%></h1>
  <script>
   
   new Chartist.Line('#chart1',{
  // A labels array that can contain any sort of values
  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  // Our series array that contains series objects or in this case series data arrays
  series: [[<%=yearlyCount%>]]
});
   new Chartist.Line('#chart2',{
  // A labels array that can contain any sort of values
  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  // Our series array that contains series objects or in this case series data arrays
  series: [[<%=montlyRev%>]]
});

const data = {
  labels: ['placed','Canceled', 'Delivered', 'Canceled'],
  datasets: [
    {
      label: 'Dataset 1',
      data: Utils.numbers(NUMBER_CFG),
      backgroundColor: Object.values(Utils.CHART_COLORS),
    }
  ]
};

// Create a new line chart object where as first parameter we pass in a selector
// that is resolving to our chart container element. The Second parameter
// is the actual data object.

      
      </script>
     
</body>


</html>