<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from cartzilla.createx.studio/productlist by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Dec 2022 04:00:53 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>Electro⚡ | Your cart</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="Createx Studio">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"> </script>
  </script>
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="/css/theme.min.css">
  <!-- Google Tag Manager-->

</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
  <style>
    .quantity {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    .quantity__minus,
    .quantity__plus {
      display: block;
      width: 22px;
      height: 23px;
      margin: 0;
      background: #dee0ee;
      text-decoration: none;
      text-align: center;
      line-height: 23px;
    }

    .quantity__minus:hover,
    .quantity__plus:hover {
      background: #575b71;
      color: #fff;
    }

    .quantity__minus {
      height: 35px !important;
      width: 32px !important;
      border-radius: 5px;
      margin-right: 5px;
      border-width: 0ch;
    }

    .quantity__plus {
      height: 35px !important;
      width: 32px !important;
      border-radius: 5px;
      margin-left: 5px;
      border-width: 0ch;
    }

    .quantity__input {
      width: 32px;
      height: 35px;
      margin: 0;
      padding: 0;
      border-radius: 5px;
      text-align: center;
      border-top: 2px solid #dee0ee;
      border-bottom: 2px solid #dee0ee;
      border-left: 1px solid #dee0ee;
      border-right: 2px solid #dee0ee;
      background: #fff;
      color: #8184a1;
    }

    .quantity__minus:link,
    .quantity__plus:link {
      color: #8184a1;
    }

    .quantity__minus:visited,
    .quantity__plus:visited {
      color: #fff;
    }
  </style>
  <!-- Google Tag Manager (noscript)-->

  <main class="page-wrapper">
    <!-- Navbar 3 Level (Light)-->
    <div class="modal-quick-view modal fade" id="quick-view" tabindex="-1">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title product-title"><a href="shop-single-v1.html" data-bs-toggle="tooltip"
                data-bs-placement="right" title="Go to product page">Sports Hooded Sweatshirt<i
                  class="ci-arrow-right fs-lg ms-2"></i></a></h4>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <!-- Product gallery-->
              <div class="col-lg-7 pe-lg-0">
                <div class="product-gallery">
                  <div class="product-gallery-preview order-sm-2">
                    <div class="product-gallery-preview-item active" id="first"><img class="image-zoom"
                        src="../public/../public/img/shop/single/gallery/01.jpg"
                        data-zoom="../public/img/shop/single/gallery/01.jpg" alt="Product image">
                      <div class="image-zoom-pane"></div>
                    </div>
                    <div class="product-gallery-preview-item" id="second"><img class="image-zoom"
                        src="../public/img/shop/single/gallery/02.jpg"
                        data-zoom="../public/img/shop/single/gallery/02.jpg" alt="Product image">
                      <div class="image-zoom-pane"></div>
                    </div>
                    <div class="product-gallery-preview-item" id="third"><img class="image-zoom"
                        src="../public/img/shop/single/gallery/03.jpg"
                        data-zoom="../public/img/shop/single/gallery/03.jpg" alt="Product image">
                      <div class="image-zoom-pane"></div>
                    </div>
                    <div class="product-gallery-preview-item" id="fourth"><img class="image-zoom"
                        src="../public/img/shop/single/gallery/04.jpg"
                        data-zoom="../public/img/shop/single/gallery/04.jpg" alt="Product image">
                      <div class="image-zoom-pane"></div>
                    </div>
                  </div>
                  <div class="product-gallery-thumblist order-sm-1"><a class="product-gallery-thumblist-item active"
                      href="#first"><img src="../public/img/shop/single/gallery/th01.jpg" alt="Product thumb"></a><a
                      class="product-gallery-thumblist-item" href="#second"><img
                        src="../public/img/shop/single/gallery/th02.jpg" alt="Product thumb"></a><a
                      class="product-gallery-thumblist-item" href="#third"><img
                        src="../public/img/shop/single/gallery/th03.jpg" alt="Product thumb"></a><a
                      class="product-gallery-thumblist-item" href="#fourth"><img
                        src="../public/img/shop/single/gallery/th04.jpg" alt="Product thumb"></a></div>
                </div>
              </div>
              <!-- Product details-->
              <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
                <div class="product-details ms-auto pb-3">
                  <div class="d-flex justify-content-between align-items-center mb-2"><a
                      href="shop-single-v1.html#reviews">
                      <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                          class="star-rating-icon ci-star-filled active"></i><i
                          class="star-rating-icon ci-star-filled active"></i><i
                          class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                      </div><span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">74 Reviews</span>
                    </a>
                    <button class="btn-wishlist" type="button" data-bs-toggle="tooltip" title="Add to wishlist"><i
                        class="ci-heart"></i></button>
                  </div>
                  <div class="mb-3"><span class="h3 fw-normal text-accent me-1">$18.<small>99</small></span>
                    <del class="text-muted fs-lg me-3">$25.<small>00</small></del><span
                      class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                  </div>
                  <div class="fs-sm mb-4"><span class="text-heading fw-medium me-1">Color:</span><span
                      class="text-muted" id="colorOptionText">Red/Dark blue/White</span></div>
                  <div class="position-relative me-n4 mb-3">
                    <div class="form-check form-option form-check-inline mb-2">
                      <input class="form-check-input" type="radio" name="color" id="color1"
                        data-bs-label="colorOptionText" value="Red/Dark blue/White" checked>
                      <label class="form-option-label rounded-circle" for="color1"><span
                          class="form-option-color rounded-circle"
                          style="background-image: url(../public/img/shop/single/color-opt-1.png)"></span></label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                      <input class="form-check-input" type="radio" name="color" id="color2"
                        data-bs-label="colorOptionText" value="Beige/White/Black">
                      <label class="form-option-label rounded-circle" for="color2"><span
                          class="form-option-color rounded-circle"
                          style="background-image: url(../public/img/shop/single/color-opt-2.png)"></span></label>
                    </div>
                    <div class="form-check form-option form-check-inline mb-2">
                      <input class="form-check-input" type="radio" name="color" id="color3"
                        data-bs-label="colorOptionText" value="Dark grey/White/Mustard">
                      <label class="form-option-label rounded-circle" for="color3"><span
                          class="form-option-color rounded-circle"
                          style="background-image: url(../public/img/shop/single/color-opt-3.png)"></span></label>
                    </div>
                    <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product
                      available</div>
                  </div>
                  <form class="mb-grid-gutter">
                    <div class="mb-3">
                      <label class="fw-medium pb-1" for="product-size">Size:</label>
                      <select class="form-select" required id="product-size">
                        <option value="">Select size</option>
                        <option value="xs">XS</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                      </select>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                      <select class="form-select me-3" style="width: 5rem;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                      <button class="btn btn-primary btn-shadow d-block w-100" type="submit"><i
                          class="ci-cart fs-lg me-2"></i>Add to Cart</button>
                    </div>
                  </form>
                  <h5 class="h6 mb-3 pb-2 border-bottom"><i
                      class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info</h5>
                  <h6 class="fs-sm mb-2">Style</h6>
                  <ul class="fs-sm ps-4">
                    <li>Hooded top</li>
                  </ul>
                  <h6 class="fs-sm mb-2">Composition</h6>
                  <ul class="fs-sm ps-4">
                    <li>Elastic rib: Cotton 95%, Elastane 5%</li>
                    <li>Lining: Cotton 100%</li>
                    <li>Cotton 80%, Polyester 20%</li>
                  </ul>
                  <h6 class="fs-sm mb-2">Art. No.</h6>
                  <ul class="fs-sm ps-4 mb-0">
                    <li>183260098</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar 3 Level (Light)-->
    <header class="shadow-sm">
      <!-- Topbar-->

      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0" href="/home"><img
                src="/img/electro-logo.png" width="142" alt="/img/electro-logo.png"></a><a
              class="navbar-brand d-sm-none flex-shrink-0 me-2" href="/home"><img src="/img/electro-logo.png" width="74"
                alt="Cartzilla"></a>

            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a
                class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">Expand menu</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
              </a>

              <form action="/productlist" method="get">
                <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i
                    class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>

                  <input name="search" class="form-control rounded-start w-100" type="text"
                    placeholder="Search for products">
              </form>


              <select onchange="categoryFilter(this.value)" class="form-select flex-shrink-0" style="width: 10.5rem;">
                <option>Select Categories</option>
                <% categoryData.forEach(element=> { %>
                  <option value="<%= element._id %>">
                    <%= element.name %>
                  </option>
                  <% }); %>
              </select>
            </div>

          </div>
          <a class="navbar-tool d-none d-lg-flex" href="/wishlist"><span class="navbar-tool-tooltip">Wishlist</span>
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
          </a>
          </a>

          </a>

            <a class=" bg-faded-dark rounded-3 navbar-tool px-4 d-none d-lg-flex" href="/userProfile"><span
                class="navbar-tool-tooltip">Profile</span><span class="">
                <%= user.name %>
              </span>
              <div class="navbar-tool-icon-box">
                <i class="navbar-tool-icon ci-user "></i>

              </div>
            </a>

            <% if (user.cart.items.length===0) {%>
              <div class="navbar-tool  ms-3"><a class="navbar-tool-icon-box bg-secondary " href="/cartmanage"><span
                    class="navbar-tool-label" id="cartLength">

                    0
                  </span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text"
                  href="/cartmanage"><small>My
                    Cart</small> <span id="totalPrice"> ₹0</span> </a>
                <!-- Cart dropdown-->

              </div>
              <% } else {%>
                <div class="navbar-tool  ms-3"><a class="navbar-tool-icon-box bg-secondary " href="/cartmanage"><span
                      class="navbar-tool-label" id="cartLength">

                      <%= user.cart.items.length %>
                    </span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text"
                    href="/cartmanage"><small>My
                      Cart</small> <span id="totalPrice"> ₹<%= user.cart.totalPrice %></span> </a>
                  <!-- Cart dropdown-->

                </div>
                <%} %>

                


        </div>
      </div>
      </div>
      <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Search-->

            <!-- Departments menu-->

            <!-- Primary menu-->
            <ul class="navbar-nav">
              <li class="nav-item active"><a class="nav-link" href="/home">Home</a>

              </li>
              <li class="nav-item "><a class="nav-link " href="/productlist">Shop</a>
                ,
              </li>
              <li class="nav-item dropdown"><a class="nav-link " href="/userProfile"
                  data-bs-auto-close="outside">Account</a>

              </li>
              <li class="nav-item dropdown"><a class="nav-link " href="/wishlist"
                  data-bs-auto-close="outside">Wishlist</a>

              </li>

            </ul>
          </div>
        </div>
      </div>
      </div>
    </header>
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="/home"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="shop-grid-ls.html">Shop</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Cart</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">Your cart</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- List of items-->
        <section class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
            <h2 class="h6 text-light mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2"
              href="/productlist"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
          </div>
          <!-- Item-->
          <% if(user.cart.items.length !==0){%>
            <% user.cart.items.forEach(items=> {%>
              <div id="<%= items.product._id %>"
                class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
                <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a
                    class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="/productdetail?id=<%= items.product._id%>"><img class="rounded"
                      src="<%= items.product.image[0] %>" width="160" alt="Product"></a>
                  <div class="pt-2">
                    <h3 class="product-title fs-base mb-2"><a href="/productdetail?id=<%= items.product._id%>">
                        <%= items.product.name %>
                      </a></h3>
                    <div class="fs-sm"><span class="text-muted me-2">Brand:</span>
                      <%= items.product.brand %>
                    </div>

                    <div class="fs-sm"><span class="text-muted me-2">Category:</span>
                      <%= items.product.category.name%>
                    </div>
                    <div class="fs-lg text-accent pt-2">₹ <%= items.product.discount %>
                    </div>
                  </div>
                </div>
                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                  <p style="margin-bottom: 8px;">Quantity</p>
                  <div class="quantity">

                    <button onclick="qtyChange('<%= items.product._id %>',-1)"
                      class="quantity__minus"><span>-</span></button>


                    <input readonly name="qty" id="<%= items.product._id%>result" type="text" class="quantity__input" value="<%= items.qty %>">
                    <input type="text" id="<%= items.product._id%>minus" hidden value="<%= items.qty %> ">



                    <button onclick="qtyChange('<%= items.product._id %>',
                  1)" class="quantity__plus"><span>+</span></button>
                  </div>

                  <button onclick="removeItem('<%= items.product._id %>')"
                    class="mt-2 btn bg-faded-danger btn-icon me-2" id="<%=items.product._id  %>" type="button"
                    title="Delete"><i class="ci-trash text-danger"></i></button>

                </div>
                <!-- <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                  <label class="form-label" for="quantity1">quantity </label>
                  <input class="form-control" type="text" name="qty" id="quantity1" min="1" max="12" value=" ">
                  <button class="btn btn-link px-0 text-danger" type="button"><i class="ci-close-circle me-2"></i><span class="fs-sm">Remove</span></button>
                </div> -->
              </div>

              <% }); %>

                <!-- Item-->

                
                <%}else{%>
                  <a href="/productlist"> <button class="btn btn-outline-accent d-block w-100 mt-4" type="button"><i
                    class="ci-loading fs-base me-2"></i>cart is Empty! Go shopping🛒</button></a>
                  <%} %>
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
          <div class="bg-white rounded-3 shadow-lg p-4">
            <div class="py-2 px-xl-2">
              <div class="text-center mb-4 pb-3 border-bottom">
                <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                <p> </p>
                <h3 id="totalPrice3" class="fw-normal">₹<%= user.cart.totalPrice %>
                </h3>
              </div>
            
              
              <form action="/checkout">

                <% if (user.cart.items.length == 0) { %>
                  
                  <button class="btn btn-primary btn-shadow d-block w-100 mt-4 " disabled style="cursor: not-allowed;"   ><i
                    class="ci-card fs-lg me-2"></i>Proceed to Checkout</button>
                    <label class="form-label mb-3 mt-4" ><span
                      class="badge bg-info fs-xs me-2">Note</span><span class="fw-medium">Can't proceed to checkout without any items</span></label>
                    <%} else {%>
                      <a class="btn btn-primary btn-shadow d-block w-100 mt-4" href="/checkout"><i
                        class="ci-card fs-lg me-2"></i>Proceed to Checkout</a>
                        
                        <%} %> 
                      </form>  
              
            </div>
          </div>
        </aside>
      </div>
    </div>
  </main>
  <!-- Footer-->
    
  <footer class="footer bg-dark ">

<div class="pt-5 bg-darker">
  <div class="container">
    <div class="row pb-3">
      <div class="col-md-12 col-sm-12 mb-4">
        <div class="d-flex justify-content-center"><i class="ci-lightning text-primary" style="font-size: 2.25rem;"></i>
          <div class="ps-3">
            <h6 class="fs-base text-light mb-1">Electro by <span class="text-primary">  <a href="https://github.com/ahmadsalahuddeen">@salahCodes</a> </span> </h6>
            <h6  class="mb-0 fs-ms  font-monospace text-white   opacity-50">This project is build to practice and learn Backend in my journey of becoming a Full-stack developer (Mern (thinking about switching to svelt :-)), practiced Nodejs, Express, Mongodb, MVC pattern, RestAPI and many more. {note: 65% of userInterface(html, css, bootstrap) is obtained from a template. as my primary objective was to learn amd improve my Backend Skills (You can visit my <a href="https://github.com/ahmadsalahuddeen"><span class="text-success text-opacity-100">github</span></a>  to see my other Projects) } </h6>
          </div>
        </div>
      </div>
      
    <hr class="hr-light mb-5">
    <div class="row pb-2">
      <div class="col-md-6 text-center text-md-start mb-4">
        <div class="text-nowrap rounded p-3 bg-white mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block"
              src="/img/electro-logo.png" width="117" alt="Cartzilla"></a>
         
        </div>
        
      </div>
      <div class="col-md-6 text-center text-md-end mb-4">
        <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="https://twitter.com/salahuddeen6017"><i
              class="ci-twitter"></i></a>
              <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/salahcodes/"><i
              class="ci-instagram"></i></a>
              <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://github.com/ahmadsalahuddeen"><i
              ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg></i></a>
              <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="https://www.youtube.com/channel/UCOyK9QcS9N_Fn_2OVbuH7qQ"><i
              class="ci-youtube"></i></a></div>
             </div>
      </div>
    </div>
    <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© openSourced by <a
        class="text-light" href="https://github.com/ahmadsalahuddeen" target="_blank" rel="noopener">ahmad salahuddeen (salahCodes)</a></div>
  </div>
</div>
</footer>
<!-- Toolbar for handheld devices (Default)-->
<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
      href="/wishlist"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span
        class="handheld-toolbar-label">Wishlist</span></a>
        <a class="d-table-cell handheld-toolbar-item"
      href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span
        class="handheld-toolbar-label">Menu</span></a>
        <a class="d-table-cell handheld-toolbar-item"
      href="/cartmanage"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span
          class="badge bg-primary rounded-pill ms-1">4</span></span><span
        class="handheld-toolbar-label"></span></a></div>
</div>
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https:/cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>

  <script>
    const qtyChange = (proId, count) => {

      const quantity = document.getElementById(proId + 'minus').value

      $.ajax({
        url: `/qtyChange?id=${proId}&expressionKey=${count}&currentQuantity=${quantity}`,
        method: 'POST',
        success: (response) => {
          
          if (response.remove == true) {

            document.getElementById(proId).remove()
            Swal.fire(
              'Deleted!',
              'Your file has been deleted.',
              'success'
            )
          } else {

            document.getElementById(proId+'minus').value = response.newQuantityCount
            document.getElementById(proId+'result').value = response.newQuantityCount
          }
          document.getElementById('totalPrice2').innerHTML = `₹ ${response.totalPrice}`
          document.getElementById('totalPrice3').innerHTML = `₹ ${response.totalPrice}`

        }
      })
    }







    const removeItem = (productId) => {


      const id = productId


      Swal.fire({
        title: 'Delete this cart item?',

        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: `/removeCartItem?id=${id}`,
            method: "POST",
            success: (response) => {
              if (response.remove == true) {
                document.getElementById(productId).remove()


                document.getElementById('totalPrice2').innerHTML = `₹ ${response.totalPrice}`
                document.getElementById('totalPrice3').innerHTML = `₹ ${response.totalPrice}`

              }


            }
          })

          Swal.fire(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
        }
      })

    }


    function deleteAlert(id) {
      Swal.fire({
        title: ' <h4>Delete Product? </h4>',
        icon: 'warning',

        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText:
          '<a class="text-light " href="/admin/deletecartitem?id=' + id + '">Delete</a>',

        cancelButtonText:
          'Cancel',


      })
    }
    $(document).ready(function () {
      $('#userTable').DataTable();

    });


  </script>
</body>

<!-- Mirrored from cartzilla.createx.studio/productlist by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Dec 2022 04:00:53 GMT -->

</html>