<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from cartzilla.createx.studio/dashboard-payouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Dec 2022 04:02:23 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>Electro⚡| Admin Home</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Cartzilla - Bootstrap E-commerce Template">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="swalahCodes">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="/css/theme.min.css">
  <!-- Google Tag Manager-->
  
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
  <style>
    .dataTables_filter{
      display: flex;
  justify-content: center;
    } 
    .dataTables_paginate{
      display: flex;
  justify-content: center;
    }
    #userTable_wrapper .row{
      padding-bottom: 10px;
    }
  </style>
  
  <!-- Google Tag Manager (noscript)-->

  <main class="page-wrapper">
    <!-- Navbar Marketplace-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->

    <!-- Dashboard header-->
    <div class="page-title-overlap bg-accent pt-4">
      <div
        class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
        <div class="d-flex align-items-center pb-3">

          <div class="ps-3">
            <h3 class="text-light fs-lg mb-0">Electro⚡| Admin </h3><span
              class="d-block text-light fs-ms opacity-60 py-1">With Great Power comes Great Responsiblity!
          </div>
        </div>

      </div>
    </div>
    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
          <!-- Sidebar-->
          <aside class="col-lg-4 pe-xl-5">
            <!-- Account menu toggler (hidden on screens larger 992px)-->
            <div class="d-block d-lg-none p-4"><a class="btn btn-outline-accent d-block" href="#account-menu"
                data-bs-toggle="collapse"><i class="ci-menu me-2"></i>Account menu</a></div>
            <!-- Actual menu-->
            <div class="h-100 border-end mb-2">
              <div class="d-lg-block collapse" id="account-menu">
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Account</h3>
                </div>
                <ul class="list-unstyled mb-0">
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 "
                      href="/admin/adminhome"><i class="ci-home opacity-60 me-2"></i>Home Dashboard</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 "
                      href="/admin/usermanage"><i class="ci-user-circle opacity-60 me-2"></i>User Management</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/categorymanage"><i class="ci-basket opacity-60 me-2"></i>Category Management</a></li>
                  <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/productmanage"><i class="ci-package opacity-60 me-2"></i>Product management<span
                        class="fs-sm text-muted ms-auto"></span></a></li>
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                      href="/admin/orderManage"><i class="ci-delivery opacity-60 me-2"></i>Order Management<span
                        class="fs-sm text-muted ms-auto"></span></a></li>
                        <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active"
                          href="/admin/dailySales"><i class="ci-dollar opacity-60 me-2"></i>Sales Report<span
                            class="fs-sm text-muted ms-auto"></span></a></li>
                </ul>
                <div class="bg-secondary p-4">
                  <h3 class="fs-sm mb-0 text-muted">Other</h3>
                </div>
                <ul class="list-unstyled mb-0">
                 
                  
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active" href="/admin/logout"><i
                        class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
                </ul>
                <hr>
              </div>
            </div>
          </aside>
          <!-- Content-->
          <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
              <div class="d-none d-lg-flex pt-1 mt-2 pb-4">
                
                      <div class="w-50 ps-2"><a href="/admin/weeklySales" class="btn btn-primary d-block w-100"  ><span
                        class="d-none d-sm-inline">Weekly Report</span><span class="d-inline d-sm-none">Weekly Report</span></a></div>
                      <div class="w-50 ps-2"><a href="/admin/yearlySales" class="btn btn-primary d-block w-100"  ><span
                        class="d-none d-sm-inline">Yearly Report </span><span class="d-inline d-sm-none">yearly Report</span></a></div>
                     
                
              </div>
              <div class="d-sm-flex flex-wrap justify-content-between align-items-center border-bottom">
                <h2 class="h3 py-2 me-2 text-center text-sm-start">Daily Report</h2>

                <div class="py-2">
                  <h2> </h2>
                  <div class="d-flex flex-nowrap align-items-center pb-3">
                    <button type="button" id="pdfDownload" class="btn btn-info btn-sm me-2" >PDF</button>
                   

                  </div>
                </div>
              </div>
              <div class="table-responsive" id="invoice">
                <table id="userTable" class="table table-layout-fixed fs-sm mb-0
                
                ">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Revenue</th>
                      <th>Poduct count</th>
                      <th>no of Orders</th>
                      <th>Profit</th>

                    </tr>
                  </thead>




                  <tbody>
                   
                    <%  if(salesReport.length> 0){ %>
                     <%   for (let i = 0; i < salesReport.length; i++) { %>
                    

                        <tr>
                          <td>
                            <%= salesReport[i]._id.day %> / <%= salesReport[i]._id.month %> / <%= salesReport[i]._id.year %>   
                          </td>
                          <td> <%= salesReport[i].totalPrice%></td>
                          <td>
                            <%= salesReport[i].items %>
                          </td>
                          <td>
                            <%= salesReport[i].count %>
                          </td>
                          <td>
                            <%= salesReport[i].totalPrice * 10/100 %>
                          </td>
                        </tr>

                        
                    <%  } }else{%>
                         


                          <h1>Empty</h1>

                          <% } %>


                  </tbody>
                </table>
              </div>
              <hr class="mb-grid-gutter">
              <!-- Pagination-->
              <!-- <nav class="d-md-flex justify-content-between align-items-center text-center text-md-start" aria-label="Page navigation">
                  <div class="d-md-flex align-items-center w-100"><span class="fs-sm text-muted me-md-3">Showing 10 of 52 records</span>
                    <div class="progress w-100 my-3 mx-auto mx-md-0" style="max-width: 10rem; height: 4px;">
                      <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary btn-sm" type="button">More records</button>
                </nav> -->
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer-->

  <!-- Toolbar for handheld devices (Marketplace)-->

  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https:/cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
  <script>
 const button = document.getElementById('pdfDownload');

function generatePDF() {
    // Choose the element that your content will be rendered to.
    const element = document.getElementsByClassName('dt-row');
    // Choose the element and save the PDF for your user.
    html2pdf().from(element[0]).save();
}

button.addEventListener('click', generatePDF);

    $(document).ready(function () {
    $('#userTable').DataTable({searching: false, "oLanguage": {
      "sLengthMenu": "Show Entries _MENU_",
    }});
    
});

 
  </script>
</body>

<!-- Mirrored from cartzilla.createx.studio/dashboard-payouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Dec 2022 04:02:23 GMT -->

</html>