<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>Electro⚡ | Smartwatch Youth Edition</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Electro">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="Createx Studio">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"> </script>
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <link rel="stylesheet" media="screen" href="vendor/drift-zoom/dist/drift-basic.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/lightgallery.js/dist/css/lightgallery.min.html" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="css/theme.min.css">
  <!-- Google Tag Manager-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
  </script>
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
  <!-- Google Tag Manager (noscript)-->
  <noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0"
      style="display: none; visibility: hidden;"></iframe>
  </noscript>
  <!-- Sign in / sign up modal-->
  <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab"
                aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab"
                aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="si-email">Email address</label>
              <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3 d-flex flex-wrap justify-content-between">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="si-remember">
                <label class="form-check-label" for="si-remember">Remember me</label>
              </div><a class="fs-sm" href="#">Forgot password?</a>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
          <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
            <div class="mb-3">
              <label class="form-label" for="su-name">Full name</label>
              <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
              <div class="invalid-feedback">Please fill in your name.</div>
            </div>
            <div class="mb-3">
              <label for="su-email">Email address</label>
              <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password-confirm" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <main class="page-wrapper">
    <!-- Navbar Electronics Store-->
    <header class="shadow-sm">
      <!-- Topbar-->

      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0" href="/home"><img
                src="/img/electro-logo.png" width="142" alt="/img/electro-logo.png"></a><a
              class="navbar-brand d-sm-none flex-shrink-0 me-2" href="/home"><img src="/img/electro-logo.png" width="74"
                Electro></a>

            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a
                class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">Expand menu</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
              </a>

              <form action="/productlist" method="get">
                <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i
                    class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>

                  <input name="search" class="form-control rounded-start w-100" type="text"
                    placeholder="Search for products">
              </form>


              <select onchange="categoryFilter(this.value)" class="form-select flex-shrink-0" style="width: 10.5rem;">
                <option>Select Categories</option>
                <% categoryData.forEach(element=> { %>
                  <option value="<%= element._id %>">
                    <%= element.name %>
                  </option>
                  <% }); %>
              </select>
            </div>

          </div>
          <a class="navbar-tool d-none d-lg-flex" href="/wishlist"><span class="navbar-tool-tooltip">Wishlist</span>
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
          </a>
          </a>

          </a>

            <a class=" bg-faded-dark rounded-3 navbar-tool px-4 d-none d-lg-flex" href="/userProfile"><span
                class="navbar-tool-tooltip">Profile</span><span class="">
                <%= user.name %>
              </span>
              <div class="navbar-tool-icon-box">
                <i class="navbar-tool-icon ci-user "></i>

              </div>
            </a>

            <% if (user.cart.items.length===0) {%>
              <div class="navbar-tool  ms-3"><a class="navbar-tool-icon-box bg-secondary " href="/cartmanage"><span
                    class="navbar-tool-label" id="cartLength">

                    0
                  </span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text"
                  href="/cartmanage"><small>My
                    Cart</small> <span id="totalPrice"> ₹0</span> </a>
                <!-- Cart dropdown-->

              </div>
              <% } else {%>
                <div class="navbar-tool  ms-3"><a class="navbar-tool-icon-box bg-secondary " href="/cartmanage"><span
                      class="navbar-tool-label" id="cartLength">

                      <%= user.cart.items.length %>
                    </span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text"
                    href="/cartmanage"><small>My
                      Cart</small> <span id="totalPrice"> ₹<%= user.cart.totalPrice %></span> </a>
                  <!-- Cart dropdown-->

                </div>
                <%} %>

                


        </div>
      </div>
      </div>
      <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Search-->

            <!-- Departments menu-->

            <!-- Primary menu-->
            <ul class="navbar-nav">
              <li class="nav-item active"><a class="nav-link" href="/home">Home</a>

              </li>
              <li class="nav-item "><a class="nav-link " href="/productlist">Shop</a>
                ,
              </li>
              <li class="nav-item dropdown"><a class="nav-link " href="/userProfile"
                  data-bs-auto-close="outside">Account</a>

              </li>
              <li class="nav-item dropdown"><a class="nav-link " href="/wishlist"
                  data-bs-auto-close="outside">Wishlist</a>

              </li>

            </ul>
          </div>
        </div>
      </div>
      </div>
    </header>
    <!-- Custom page title-->

    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-2">
            <%= product.name %>
          </h1>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="bg-light shadow-lg rounded-3">
        <!-- Tabs-->
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"><a class="nav-link py-4 px-sm-4 active" href="#general" data-bs-toggle="tab"
              role="tab">General <span class='d-none d-sm-inline'>Info</span></a></li>

        </ul>
        <div class="px-4 pt-lg-3 pb-3 mb-5">
          <div class="tab-content px-lg-3">
            <!-- General info tab-->
            <div class="tab-pane fade show active" id="general" role="tabpanel">
              <div class="row">
                <!-- Product gallery-->
                <div class="col-lg-7 pe-lg-0">
                  <div class="product-gallery">
                    <div class="product-gallery-preview order-sm-2">
                      <div class="product-gallery-preview-item active" id="first"><img class="rounded-4 image-zoom"
                          src="<%= product.image[0] %>" data-zoom="<%= product.image[0] %>" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="second"><img class="rounded-4 image-zoom"
                          src="<%= product.image[1] %>" data-zoom="<%= product.image[1] %>" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>
                      <div class="product-gallery-preview-item" id="third"><img class="rounded-4 image-zoom"
                          src="<%= product.image[2] %>" data-zoom="<%= product.image[2] %>" alt="Product image">
                        <div class="image-zoom-pane"></div>
                      </div>

                    </div>
                    <div class="product-gallery-thumblist order-sm-1"><a class="product-gallery-thumblist-item active"
                        href="#first"><img src="<%= product.image[0] %>" alt="Product thumb"></a><a
                        class="product-gallery-thumblist-item" href="#second"><img src="<%= product.image[1] %>"
                          alt="Product thumb"></a><a class="product-gallery-thumblist-item" href="#third"><img
                          src="<%= product.image[2] %>" alt="Product thumb"></a></div>
                  </div>
                </div>
                <!-- Product details-->
                <div class="col-lg-5 pt-4 pt-lg-0">
                  <div class="product-details ms-auto pb-3">
                    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                      <h3 class="h4  mb-3">
                        <%= product.name %>
                      </h3>
            
                    </div>
                    <div class="h3 fw-normal text-accent mb-3 me-1">₹ <%= product.discount %>
                    </div>
                    <div class="position-relative me-n4 mb-3">
                      
                      
                      <% if (product.stock >= 0) {%>
                        <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product
                          available</div>
                        <%} else {%>
                          <div class="product-badge product-not-available mt-n1"><i class="ci-security-close"></i>Out of
                            Stock</div>
                            <%} %>
                    </div>
                    <div class="fs-sm mb-4"><span class="text-muted" id="colorOption">Category: </span><span
                        class="text-heading fw-medium me-1">
                        <%= product.category.name %>
                      </span></div>
                    


                      <div class="d-flex align-items-center pt-2 pb-4">
                       
                        <button onclick="addToCart('<%=product._id %>')" class="btn btn-primary btn-shadow d-block w-100" type="button"><i
                            class="ci-cart fs-lg me-2"></i>Add to Cart</button>
                      </div>
                      <div class="d-flex mb-4">
                        <div class="w-100 me-3">
                          <button onclick="addToWishlist('<%= product._id %>')" class="btn btn-secondary d-block w-100" type="button"><i
                              class="ci-heart fs-lg me-2"></i><span class='d-none d-sm-inline'>Add to
                            </span>Wishlist</button>
                        </div>
                        
                      </div>
                      <div class="accordion mb-4" id="productPanels">
                        <div class="accordion-item">
                          <h3 class="accordion-header"><a class="accordion-button" href="#productInfo" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="productInfo"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product Details</a></h3>
                          <div class="accordion-collapse collapse show" id="productInfo" data-bs-parent="#productPanels">
                            <div class="accordion-body">
                              <p><%= product.description %> </p>
                            </div>
                          </div>
                        </div>
                        </div>
                      <!-- Product panels-->
                      
                      <!-- Sharing-->
                      
                  </div>
                </div>
              </div>
            </div>
            <!-- Tech specs tab-->
            <div class="tab-pane fade" id="specs" role="tabpanel">
              <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                <div class="d-flex align-items-center me-md-3"><img src="img/shop/single/gallery/th05.jpg" width="90"
                    alt="Product thumb">
                  <div class="ps-3">
                    <h6 class="fs-base mb-2">Smartwatch Youth Edition</h6>
                    <div class="h4 fw-normal text-accent">$124.<small>99</small></div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                  <select class="form-select me-2" style="width: 5rem;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <button class="btn btn-primary btn-shadow me-2" type="button"><i
                      class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                  <div class="me-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip"
                      title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                  </div>
                  <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i
                        class="ci-compare fs-lg"></i></button>
                  </div>
                </div>
              </div>
              <!-- Specs table-->
              <div class="row pt-2">
                <div class="col-lg-5 col-sm-6">
                  <h3 class="h6">General specs</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Model:</span><span>Amazfit Smartwatch</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Gender:</span><span>Unisex</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Smartphone
                        app:</span><span>Amazfit Watch</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">OS
                        campitibility:</span><span>Android / iOS</span></li>
                  </ul>
                  <h3 class="h6">Physical specs</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Shape:</span><span>Rectangular</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Body
                        material:</span><span>Plastics / Ceramics</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Band
                        material:</span><span>Silicone</span></li>
                  </ul>
                  <h3 class="h6">Display</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Display
                        type:</span><span>Color</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Display
                        size:</span><span>1.28"</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Screen
                        resolution:</span><span>176 x 176</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Touch
                        screen:</span><span>No</span></li>
                  </ul>
                </div>
                <div class="col-lg-5 col-sm-6 offset-lg-1">
                  <h3 class="h6">Functions</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Phone
                        calls:</span><span>Incoming call notification</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Monitoring:</span><span>Heart rate / Physical activity</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">GPS
                        support:</span><span>Yes</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Sensors:</span><span>Heart rate, Gyroscope, Geomagnetic, Light sensor</span>
                    </li>
                  </ul>
                  <h3 class="h6">Battery</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Battery:</span><span>Li-Pol</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Battery
                        capacity:</span><span>190 mAh</span></li>
                  </ul>
                  <h3 class="h6">Dimensions</h3>
                  <ul class="list-unstyled fs-sm pb-2">
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Dimensions:</span><span>195 x 20 mm</span></li>
                    <li class="d-flex justify-content-between pb-2 border-bottom"><span
                        class="text-muted">Weight:</span><span>32 g</span></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Reviews tab-->
            <div class="tab-pane fade" id="reviews" role="tabpanel">
              <div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
                <div class="d-flex align-items-center me-md-3"><img src="img/shop/single/gallery/th05.jpg" width="90"
                    alt="Product thumb">
                  <div class="ps-3">
                    <h6 class="fs-base mb-2">Smartwatch Youth Edition</h6>
                    <div class="h4 fw-normal text-accent">$124.<small>99</small></div>
                  </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                  <select class="form-select me-2" style="width: 5rem;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <button class="btn btn-primary btn-shadow me-2" type="button"><i
                      class="ci-cart fs-lg me-sm-2"></i><span class="d-none d-sm-inline">Add to Cart</span></button>
                  <div class="me-2">
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip"
                      title="Add to Wishlist"><i class="ci-heart fs-lg"></i></button>
                  </div>
                  <div>
                    <button class="btn btn-secondary btn-icon" type="button" data-bs-toggle="tooltip" title="Compare"><i
                        class="ci-compare fs-lg"></i></button>
                  </div>
                </div>
              </div>
              <!-- Reviews-->
              <div class="row pt-2 pb-3">
                <div class="col-lg-4 col-md-5">
                  <h2 class="h3 mb-4">74 Reviews</h2>
                  <div class="star-rating me-2"><i class="ci-star-filled fs-sm text-accent me-1"></i><i
                      class="ci-star-filled fs-sm text-accent me-1"></i><i
                      class="ci-star-filled fs-sm text-accent me-1"></i><i
                      class="ci-star-filled fs-sm text-accent me-1"></i><i class="ci-star fs-sm text-muted me-1"></i>
                  </div><span class="d-inline-block align-middle">4.1 Overall rating</span>
                  <p class="pt-3 fs-sm text-muted">58 out of 74 (77%)<br>Customers recommended this product</p>
                </div>
                <div class="col-lg-8 col-md-7">
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">5</span><i
                        class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">43</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">4</span><i
                        class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;"
                          aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">16</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">3</span><i
                        class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;"
                          aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">9</span>
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">2</span><i
                        class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #fea569;"
                          aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">4</span>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="text-nowrap me-3"><span class="d-inline-block align-middle text-muted">1</span><i
                        class="ci-star-filled fs-xs ms-1"></i></div>
                    <div class="w-100">
                      <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div><span class="text-muted ms-3">2</span>
                  </div>
                </div>
              </div>
              <hr class="mt-4 mb-3">
              <div class="row py-4">
                <!-- Reviews list-->
                <div class="col-md-7">
                  <div class="d-flex justify-content-end pb-4">
                    <div class="d-flex flex-nowrap align-items-center">
                      <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">Sort
                        by:</label>
                      <select class="form-select form-select-sm" id="sort-reviews">
                        <option>Newest</option>
                        <option>Oldest</option>
                        <option>Popular</option>
                        <option>High rating</option>
                        <option>Low rating</option>
                      </select>
                    </div>
                  </div>
                  <!-- Review-->
                  <div class="product-review pb-4 mb-4 border-bottom">
                    <div class="d-flex mb-3">
                      <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle"
                          src="img/shop/reviews/01.jpg" width="50" alt="Rafael Marquez">
                        <div class="ps-3">
                          <h6 class="fs-sm mb-0">Rafael Marquez</h6><span class="fs-ms text-muted">June 28, 2019</span>
                        </div>
                      </div>
                      <div>
                        <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                        </div>
                        <div class="fs-ms text-muted">83% of users found this review helpful</div>
                      </div>
                    </div>
                    <p class="fs-md mb-2">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                      quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est...</p>
                    <ul class="list-unstyled fs-ms pt-1">
                      <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi,
                        tempora</li>
                      <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                    </ul>
                    <div class="text-nowrap">
                      <button class="btn-like" type="button">15</button>
                      <button class="btn-dislike" type="button">3</button>
                    </div>
                  </div>
                  <!-- Review-->
                  <div class="product-review pb-4 mb-4 border-bottom">
                    <div class="d-flex mb-3">
                      <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle"
                          src="img/shop/reviews/02.jpg" width="50" alt="Barbara Palson">
                        <div class="ps-3">
                          <h6 class="fs-sm mb-0">Barbara Palson</h6><span class="fs-ms text-muted">May 17, 2019</span>
                        </div>
                      </div>
                      <div>
                        <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i>
                        </div>
                        <div class="fs-ms text-muted">99% of users found this review helpful</div>
                      </div>
                    </div>
                    <p class="fs-md mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul class="list-unstyled fs-ms pt-1">
                      <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi,
                        tempora</li>
                      <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae, quis autem</li>
                    </ul>
                    <div class="text-nowrap">
                      <button class="btn-like" type="button">34</button>
                      <button class="btn-dislike" type="button">1</button>
                    </div>
                  </div>
                  <!-- Review-->
                  <div class="product-review pb-4 mb-4 border-bottom">
                    <div class="d-flex mb-3">
                      <div class="d-flex align-items-center me-4 pe-2"><img class="rounded-circle"
                          src="img/shop/reviews/03.jpg" width="50" alt="Daniel Adams">
                        <div class="ps-3">
                          <h6 class="fs-sm mb-0">Daniel Adams</h6><span class="fs-ms text-muted">May 8, 2019</span>
                        </div>
                      </div>
                      <div>
                        <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star-filled active"></i><i
                            class="star-rating-icon ci-star"></i><i class="star-rating-icon ci-star"></i>
                        </div>
                        <div class="fs-ms text-muted">75% of users found this review helpful</div>
                      </div>
                    </div>
                    <p class="fs-md mb-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                      architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                    <ul class="list-unstyled fs-ms pt-1">
                      <li class="mb-1"><span class="fw-medium">Pros:&nbsp;</span>Consequuntur magni, voluptatem sequi
                      </li>
                      <li class="mb-1"><span class="fw-medium">Cons:&nbsp;</span>Architecto beatae, quis autem,
                        voluptatem sequ</li>
                    </ul>
                    <div class="text-nowrap">
                      <button class="btn-like" type="button">26</button>
                      <button class="btn-dislike" type="button">9</button>
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-accent" type="button"><i class="ci-reload me-2"></i>Load more
                      reviews</button>
                  </div>
                </div>
                <!-- Leave review form-->
                <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                  <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                    <h3 class="h4 pb-2">Write a review</h3>
                    <form class="needs-validation" method="post" novalidate>
                      <div class="mb-3">
                        <label class="form-label" for="review-name">Your name<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" required id="review-name">
                        <div class="invalid-feedback">Please enter your name!</div><small
                          class="form-text text-muted">Will be displayed on the comment.</small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-email">Your email<span
                            class="text-danger">*</span></label>
                        <input class="form-control" type="email" required id="review-email">
                        <div class="invalid-feedback">Please provide valid email address!</div><small
                          class="form-text text-muted">Authentication only - we won't spam you.</small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-rating">Rating<span class="text-danger">*</span></label>
                        <select class="form-select" required id="review-rating">
                          <option value="">Choose rating</option>
                          <option value="5">5 stars</option>
                          <option value="4">4 stars</option>
                          <option value="3">3 stars</option>
                          <option value="2">2 stars</option>
                          <option value="1">1 star</option>
                        </select>
                        <div class="invalid-feedback">Please choose rating!</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-text">Review<span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="6" required id="review-text"></textarea>
                        <div class="invalid-feedback">Please write a review!</div><small
                          class="form-text text-muted">Your review must be at least 50 characters.</small>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="review-pros">Pros</label>
                        <textarea class="form-control" rows="2" placeholder="Separated by commas"
                          id="review-pros"></textarea>
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="review-cons">Cons</label>
                        <textarea class="form-control" rows="2" placeholder="Separated by commas"
                          id="review-cons"></textarea>
                      </div>
                      <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Submit a Review</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product description-->
    <div class="container pt-lg-3 pb-4 pb-sm-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="h3 pb-2">Choose your style</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p><img src="img/shop/single/prod-img2.jpg"
            alt="Product description">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
        </div>
      </div>
    </div>
    <hr class="mb-5">
    <!-- Product carousel (You may also like)-->
    <div class="container pt-lg-2 pb-5 mb-md-3">
      <h2 class="h3 text-center pb-4">You may also like</h2>
      <div class="tns-carousel tns-controls-static tns-controls-outside">
        <div class="tns-carousel-inner"
          data-carousel-options="{&quot;items&quot;: 2, &quot;controls&quot;: true, &quot;nav&quot;: false, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 18},&quot;768&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 20}, &quot;1100&quot;:{&quot;items&quot;:4, &quot;gutter&quot;: 30}}}">
          <!-- Product-->
          <div>
            <div class="card product-card card-static">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden"
                href="#"><img src="img/shop/catalog/66.jpg" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                <h3 class="product-title fs-sm"><a href="#">Health &amp; Fitness Smartwatch</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent">$250.<small>00</small></span></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div>
            <div class="card product-card card-static">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden"
                href="#"><img src="img/shop/catalog/67.jpg" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                <h3 class="product-title fs-sm"><a href="#">Heart Rate &amp; Activity Tracker</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price text-accent">$26.<small>99</small></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i><i
                      class="star-rating-icon ci-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div>
            <div class="card product-card card-static">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden"
                href="#"><img src="img/shop/catalog/64.jpg" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                <h3 class="product-title fs-sm"><a href="#">Smart Watch Series 5, Aluminium</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price text-accent">$349.<small>99</small></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div>
            <div class="card product-card card-static">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden"
                href="#"><img src="img/shop/catalog/68.jpg" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                <h3 class="product-title fs-sm"><a href="#">Health &amp; Fitness Smartwatch</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price text-accent">$118.<small>00</small></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Product-->
          <div>
            <div class="card product-card card-static">
              <button class="btn-wishlist btn-sm" type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                title="Add to wishlist"><i class="ci-heart"></i></button><a class="card-img-top d-block overflow-hidden"
                href="#"><img src="img/shop/catalog/69.jpg" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="#">Smartwatches</a>
                <h3 class="product-title fs-sm"><a href="#">Heart Rate &amp; Activity Tracker</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price text-accent">$25.<small>00</small></div>
                  <div class="star-rating"><i class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-filled active"></i><i
                      class="star-rating-icon ci-star-half active"></i><i class="star-rating-icon ci-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product bundles carousel (Cheaper together)-->
    <div class="container pt-lg-1 pb-5 mb-md-3">
      <div class="card card-body pt-5">
        <h2 class="h3 text-center pb-4">Cheaper together</h2>
        <div class="tns-carousel">
          <div class="tns-carousel-inner"
            data-carousel-options="{&quot;items&quot;: 1, &quot;controls&quot;: false, &quot;nav&quot;: true}">
            <div>
              <div class="row align-items-center">
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a
                      class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/70.jpg"
                        alt="Product"></a>
                    <div class="card-body py-2"><span
                        class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                      <h3 class="product-title fs-sm"><a href="#">Smartwatch Youth Edition</a></h3>
                      <div class="product-price text-accent">$124.<small>99</small></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-sm-2 text-center">
                  <div class="display-4 fw-light text-muted px-4">+</div>
                </div>
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a
                      class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/72.jpg"
                        alt="Product"></a>
                    <div class="card-body py-2"><span
                        class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-20%</span>
                      <h3 class="product-title fs-sm"><a href="#">Smartwatch Wireless Charger</a></h3>
                      <div class="product-price"><span class="text-accent">$16.<small>00</small></span>
                        <del class="fs-sm text-muted">$20.<small>00</small></del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-none d-md-block col-md-1 text-center">
                  <div class="display-4 fw-light text-muted px-4">=</div>
                </div>
                <div class="col-md-4 pt-3 pt-md-0">
                  <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
                    <div class="h3 fw-normal text-accent mb-3 me-1">$140.<small>99</small></div>
                    <button class="btn btn-primary" type="button">Purchase together</button>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row align-items-center">
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a
                      class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/70.jpg"
                        alt="Product"></a>
                    <div class="card-body py-2"><span
                        class="d-inline-block bg-secondary fs-ms rounded-1 py-1 px-2 mb-3">Your product</span>
                      <h3 class="product-title fs-sm"><a href="#">Smartwatch Youth Edition</a></h3>
                      <div class="product-price text-accent">$124.<small>99</small></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-sm-2 text-center">
                  <div class="display-4 fw-light text-muted px-4">+</div>
                </div>
                <div class="col-md-3 col-sm-5">
                  <div class="card product-card card-static text-center mx-auto" style="max-width: 20rem;"><a
                      class="card-img-top d-block overflow-hidden" href="#"><img src="img/shop/catalog/71.jpg"
                        alt="Product"></a>
                    <div class="card-body py-2"><span
                        class="d-inline-block bg-danger fs-ms text-white rounded-1 py-1 px-2 mb-3">-15%</span>
                      <h3 class="product-title fs-sm"><a href="#">Bluetooth Headset Air (White)</a></h3>
                      <div class="product-price"><span class="text-accent">$59.<small>00</small></span>
                        <del class="fs-sm text-muted">$69.<small>00</small></del>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-none d-md-block col-md-1 text-center">
                  <div class="display-4 fw-light text-muted px-4">=</div>
                </div>
                <div class="col-md-4 pt-3 pt-md-0">
                  <div class="bg-secondary p-4 rounded-3 text-center mx-auto" style="max-width: 20rem;">
                    <div class="h3 fw-normal text-accent mb-3 me-1">$183.<small>99</small></div>
                    <button class="btn btn-primary" type="button">Purchase together</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer-->
    
    <footer class="footer bg-dark ">
  
  <div class="pt-5 bg-darker">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-12 col-sm-12 mb-4">
          <div class="d-flex justify-content-center"><i class="ci-lightning text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Electro by <span class="text-primary">  <a href="https://github.com/ahmadsalahuddeen">@salahCodes</a> </span> </h6>
             <h6 class="mb-0 fs-ms font-monospace text-white opacity-50">
    This project is built with the primary objective of practicing and learning backend development in my journey to become a full-stack developer. I have worked with technologies such as Node.js, Express, MongoDB, MVC pattern, and RestAPI, among others. It's important to note that approximately 65% of the user interface (HTML, CSS, and Bootstrap) was obtained from a template. You can visit my <a href="https://github.com/ahmadsalahuddeen"><span class="text-success text-opacity-100">GitHub</span></a> to explore my other projects.
</h6>
            </div>
          </div>
        </div>
        
      <hr class="hr-light mb-5">
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-start mb-4">
          <div class="text-nowrap rounded p-3 bg-white mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block"
                src="/img/electro-logo.png" width="117" Electro></a>
           
          </div>
          
        </div>
        <div class="col-md-6 text-center text-md-end mb-4">
          <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="https://twitter.com/salahuddeen6017"><i
                class="ci-twitter"></i></a>
                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/salahcodes/"><i
                class="ci-instagram"></i></a>
                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://github.com/ahmadsalahuddeen"><i
                ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></i></a>
                <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="https://www.youtube.com/channel/UCOyK9QcS9N_Fn_2OVbuH7qQ"><i
                class="ci-youtube"></i></a></div>
               </div>
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© openSourced by <a
          class="text-light" href="https://github.com/ahmadsalahuddeen" target="_blank" rel="noopener">ahmad salahuddeen (salahCodes)</a></div>
    </div>
  </div>
 </footer>
  <!-- Toolbar for handheld devices (Default)-->
  <div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
        href="/wishlist"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span
          class="handheld-toolbar-label">Wishlist</span></a>
          <a class="d-table-cell handheld-toolbar-item"
        href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span
          class="handheld-toolbar-label">Menu</span></a>
          <a class="d-table-cell handheld-toolbar-item"
        href="/cartmanage"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span
            class="badge bg-primary rounded-pill ms-1">4</span></span><span
          class="handheld-toolbar-label"></span></a></div>
  </div>
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
  <script src="vendor/lightgallery.js/dist/js/lightgallery.min.html"></script>
  <script src="vendor/lg-video.js/dist/lg-video.min.html"></script>
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
  <script>

const  toastMixin = Swal.mixin({
    toast: true,
    icon: 'success',
    title: 'General Title',
    animation: false,
    position: 'top-right',
    showConfirmButton: false,
    timer: 2000,
    timerProgressBar: true,
    didOpen: (toast) => {
      toast.addEventListener('mouseenter', Swal.stopTimer)
      toast.addEventListener('mouseleave', Swal.resumeTimer)
    }
  });


const addToWishlist = (productId)=>{
  
$.ajax(
  {
    url: `/addToWishlist?id=${productId}`,
    method: 'POST',
    success:(res)=>{
     
      if (res.exists) {
        toastMixin.fire({
    title: 'Product is Already in Wishlist',
    icon: 'warning',
    iconColor:'#fff',
    color:'#fff',
    background: '#cc3300',
  });
      } else {
        toastMixin.fire({
          title: "product added to Wishlist🌟",
          icon: 'success',
    iconColor:'#fff',
    color:'#fff',
    
          background: '#228B22',
        })
      }
      
    }
  }
)
}
      

    const addToCart =  (productId)=>{
      console.log("kdfhsdkfhsldfhskdj",productId);
$.ajax({
  url: '/addtocart',
  method: 'POST',
  data: {
    productid:  productId
  },
  success:(response)=>{
    console.log("akdfhsdhfjhsgd",response);
    document.getElementById('totalPrice').innerHTML = `₹  ${response.totalPrice}`,
    document.getElementById('cartLength').innerHTML = response.cartLength
    Swal.fire({
  position: 'top-start',
  icon: 'success',
  widtth: '100',
  padding: '1em',
  text: 'Product Added to Cart 🛒',
  showConfirmButton: false,
  timer: 800
})

  }
  
})
    }
  </script>
</body>


</html>