<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="utf-8">
  <title>Electro⚡ | My addresses</title>
  <!-- SEO Meta Tags-->
  <meta name="description" content="Electro">
  <meta name="keywords"
    content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean">
  <meta name="author" content="Createx Studio">
  <!-- Viewport-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon and Touch Icons-->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
  <link rel="stylesheet" media="screen" href="vendor/simplebar/dist/simplebar.min.css" />
  <link rel="stylesheet" media="screen" href="vendor/tiny-slider/dist/tiny-slider.css" />
  <!-- Main Theme Styles + Bootstrap-->
  <link rel="stylesheet" media="screen" href="/css/theme.min.css">
  <!-- Google Tag Manager-->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WKV3GT5');
  </script>
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
  <!-- Google Tag Manager (noscript)-->
  <noscript>
    <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0"
      style="display: none; visibility: hidden;"></iframe>
  </noscript>
  <!-- Sign in / sign up modal-->
  <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link fw-medium active" href="#signin-tab" data-bs-toggle="tab" role="tab"
                aria-selected="true"><i class="ci-unlocked me-2 mt-n1"></i>Sign in</a></li>
            <li class="nav-item"><a class="nav-link fw-medium" href="#signup-tab" data-bs-toggle="tab" role="tab"
                aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Sign up</a></li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate id="signin-tab">
            <div class="mb-3">
              <label class="form-label" for="si-email">Email address</label>
              <input class="form-control" type="email" id="si-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="si-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="si-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3 d-flex flex-wrap justify-content-between">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="si-remember">
                <label class="form-check-label" for="si-remember">Remember me</label>
              </div><a class="fs-sm" href="#">Forgot password?</a>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign in</button>
          </form>
          <form class="needs-validation tab-pane fade" autocomplete="off" novalidate id="signup-tab">
            <div class="mb-3">
              <label class="form-label" for="su-name">Full name</label>
              <input class="form-control" type="text" id="su-name" placeholder="John Doe" required>
              <div class="invalid-feedback">Please fill in your name.</div>
            </div>
            <div class="mb-3">
              <label for="su-email">Email address</label>
              <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required>
              <div class="invalid-feedback">Please provide a valid email address.</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password">Password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="su-password-confirm">Confirm password</label>
              <div class="password-toggle">
                <input class="form-control" type="password" id="su-password-confirm" required>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                  <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                </label>
              </div>
            </div>
            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <main class="page-wrapper">
    <!-- Add New Address-->
    <form class="needs-validation modal fade" method="post" id="add-address" action="/add-address-userprofile"
      tabindex="-1" novalidate>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add a new address</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row gx-4 gy-3">
              <div class="col-sm-6">
                <label class="form-label" for="address-fn">Name</label>
                <input class="form-control" name="name" type="text" id="address-fn" required>
                <div class="invalid-feedback">Please fill in you name!</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="address-ln">Mobile Number</label>
                <input class="form-control" type="tel" name="mobile" id="address-ln" required>
                <div class="invalid-feedback">Please fill in you last name!</div>
              </div>
              <div class="col-sm-12">
                <label class="form-label" for="address-line1">Your Address (house name, street etc.)</label>
                <input class="form-control" name="fullAddress" type="text" id="address-line1" required>
                <div class="invalid-feedback">Please fill in your address!</div>
              </div>

              <div class="col-sm-6">
                <label class="form-label" for="address-country">State</label>
                <select class="form-select" name="state" id="address-country" required>
                  <option value>Select State</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Tamil">Tamil Nadu</option>
                  <option value="Kashmir">Kashmir</option>
                  <option value="Telengana">Telengana</option>

                </select>

              </div>
              <div class="col-sm-6">
                <label class="form-label" for="address-city">District</label>
                <input class="form-control" name="district" type="text" id="address-city" required>
                <div class="invalid-feedback">Please fill in your District</div>
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="address-line1">Landmark</label>
                <input class="form-control" name="landmark" type="text" id="address-line1" required>
                <div class="invalid-feedback">Please fill in your address!</div>
              </div>


              <div class="col-sm-6">
                <label class="form-label" for="address-zip">Pincode</label>
                <input class="form-control" type="tel" name="pincode" id="address-zip" required>
                <div class="invalid-feedback">Please add your ZIP code!</div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary btn-shadow" type="submit">Add address</button>
          </div>
        </div>
      </div>
    </form>



    <!-- Navbar 3 Level (Light)-->
    <header class="shadow-sm">
      <!-- Topbar-->

      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container"><a class="navbar-brand d-none d-sm-block flex-shrink-0" href="/home"><img
                src="/img/electro-logo.png" width="142" alt="/img/electro-logo.png"></a><a
              class="navbar-brand d-sm-none flex-shrink-0 me-2" href="/home"><img src="/img/electro-logo.png" width="74"
                alt="Cartzilla"></a>

            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a
                class="navbar-tool navbar-stuck-toggler" href="#"><span class="navbar-tool-tooltip">Expand menu</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-menu"></i></div>
              </a>

              <form action="/productlist" method="get">
                <div class="input-group d-none d-lg-flex flex-nowrap mx-4"><i
                    class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>

                  <input name="search" class="form-control rounded-start w-100" type="text"
                    placeholder="Search for products">
              </form>


              <select onchange="categoryFilter(this.value)" class="form-select flex-shrink-0" style="width: 10.5rem;">
                <option>Select Categories</option>
                <% categoryData.forEach(element=> { %>
                  <option value="<%= element._id %>">
                    <%= element.name %>
                  </option>
                  <% }); %>
              </select>
            </div>

          </div>
          <a class="navbar-tool d-none d-lg-flex" href="/wishlist"><span class="navbar-tool-tooltip">Wishlist</span>
            <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-heart"></i></div>
          </a>
          </a>

          </a>

            <a class=" bg-faded-dark rounded-3 navbar-tool px-4 d-none d-lg-flex" href="/userProfile"><span
                class="navbar-tool-tooltip">Profile</span><span class="">
                <%= user.name %>
              </span>
              <div class="navbar-tool-icon-box">
                <i class="navbar-tool-icon ci-user "></i>

              </div>
            </a>

            <% if (user.cart.items.length===0) {%>
              <div class="navbar-tool  ms-3"><a class="navbar-tool-icon-box bg-secondary " href="/cartmanage"><span
                    class="navbar-tool-label" id="cartLength">

                    0
                  </span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text"
                  href="/cartmanage"><small>My
                    Cart</small> <span id="totalPrice"> ₹0</span> </a>
                <!-- Cart dropdown-->

              </div>
              <% } else {%>
                <div class="navbar-tool  ms-3"><a class="navbar-tool-icon-box bg-secondary " href="/cartmanage"><span
                      class="navbar-tool-label" id="cartLength">

                      <%= user.cart.items.length %>
                    </span><i class="navbar-tool-icon ci-cart"></i></a><a class="navbar-tool-text"
                    href="/cartmanage"><small>My
                      Cart</small> <span id="totalPrice"> ₹<%= user.cart.totalPrice %></span> </a>
                  <!-- Cart dropdown-->

                </div>
                <%} %>

                


        </div>
      </div>
      </div>
      <div class="navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Search-->

            <!-- Departments menu-->

            <!-- Primary menu-->
            <ul class="navbar-nav">
              <li class="nav-item active"><a class="nav-link" href="/home">Home</a>

              </li>
              <li class="nav-item "><a class="nav-link " href="/productlist">Shop</a>
                ,
              </li>
              <li class="nav-item dropdown"><a class="nav-link " href="/userProfile"
                  data-bs-auto-close="outside">Account</a>

              </li>
              <li class="nav-item dropdown"><a class="nav-link " href="/wishlist"
                  data-bs-auto-close="outside">Wishlist</a>

              </li>

            </ul>
          </div>
        </div>
      </div>
      </div>
    </header>
    <% adrsdata.forEach((adrsModal, index)=> {%>

      <% adrsModal.add.forEach((adrs)=> {%>
        <form class="needs-validation modal fade" method="post" id="edit<%= adrs._id %>" action="/editAddress?id=<%= adrsModal._id %>"
        tabindex="-1" novalidate>
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Address</h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row gx-4 gy-3">
                <div class="col-sm-6">
                  <label class="form-label" for="address-fn">Name</label>
                  <input class="form-control" name="name" type="text" id="address-fn" required value="<%= adrs.name %>">
                  <div class="invalid-feedback">Please fill in you name!</div>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="address-ln">Mobile Number</label>
                  <input class="form-control" type="tel" name="mobile" id="address-ln" required value="<%= adrs.mobile %>">
                  <div class="invalid-feedback">Please fill in you last name!</div>
                </div>
                <div class="col-sm-12">
                  <label class="form-label" for="address-line1">Your Address (house name, street
                    etc.)</label>
                  <input class="form-control" name="fullAddress" type="text" id="address-line1"
                    required value="<%= adrs.fullAddress %>">
                  <div class="invalid-feedback">Please fill in your address!</div>
                </div>

                <div class="col-sm-6">
                  <label class="form-label" for="address-country">State</label>
                  <select class="form-select" name="state" id="address-country" required >
                    <option value="<%= adrs.state %>"><%= adrs.state %></option>
                    <option value="Kerala">Kerala</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Tamil">Tamil Nadu</option>
                    <option value="Kashmir">Kashmir</option>
                    <option value="Telengana">Telengana</option>

                  </select>

                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="address-city">District</label>
                  <input class="form-control" name="district" type="text" id="address-city"value="<%= adrs.district%>"
                    required>
                  <div class="invalid-feedback">Please fill in your District</div>
                </div>
                <div class="col-sm-6">
                  <label class="form-label" for="address-line1">Landmark</label>
                  <input class="form-control" name="landmark" type="text" id="address-line1" value="<%= adrs.landmark %>"
                    required>
                  <div class="invalid-feedback">Please fill in your address!</div>
                </div>


                <div class="col-sm-6">
                  <label class="form-label" for="address-zip">Pincode</label>
                  <input class="form-control" type="tel" name="pincode" id="address-zip" required value="<%= adrs.pincode%>"> 
                  <div class="invalid-feedback">Please add your ZIP code!</div>
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-primary btn-shadow" type="submit">Edit</button>
            </div>
          
          </div>
        </div>
      </form>

        <% });%>

                      <% }); %>
    <!-- Page Title-->
    <div class="page-title-overlap bg-dark pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="/home"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="#">Account</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Addresses</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-light mb-0">My addresses</h1>
        </div>
      </div>
    </div>
    <div class="container pb-5 mb-2 mb-md-4">
      <div class="row">
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
          <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
            <div class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
              <div class="d-md-flex align-items-center">
                <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0"
                  style="width: 6.375rem;"><img class="rounded-circle" src="dpavatar.png" alt="swalahCodes"></div>
                <div class="ps-md-3">
                  <h3 class="fs-base mb-0">
                    <%= user.name %>
                  </h3><span class="text-accent fs-sm">
                    <%= user.email %>
                  </span>
                </div>
              </div><a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu"
                data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account menu</a>
            </div>
            <div class="d-lg-block collapse" id="account-menu">
              <div class="bg-secondary px-4 py-3">
                <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
              </div>
              <ul class="list-unstyled mb-0">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    href="/userOrderManage"><i class="ci-bag opacity-60 me-2"></i>Orders<span
                      class="fs-sm text-muted ms-auto">1</span></a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    href="/wishlist"><i class="ci-heart opacity-60 me-2"></i>Wishlist<span
                      class="fs-sm text-muted ms-auto">3</span></a></li>
                
              </ul>
              <div class="bg-secondary px-4 py-3">
                <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
              </div>
              <ul class="list-unstyled mb-0">
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    href="/userProfile"><i class="ci-user opacity-60 me-2"></i>Profile info</a></li>
                <li class="border-bottom mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3 active"
                    href="/userAddress"><i class="ci-location opacity-60 me-2"></i>Addresses</a></li>
               
                <li class="d-lg-none border-top mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3"
                    href="/logout"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a></li>
              </ul>
            </div>
          </div>
        </aside>
        <!-- Content  -->
        <section class="col-lg-8">
          <!-- Toolbar-->
          <div class="d-none d-lg-flex justify-content-between align-items-center pt-lg-3 pb-4 pb-lg-5 mb-lg-3">
            <h6 class="fs-base text-light mb-0">List of your registered addresses:</h6><a class="btn btn-primary btn-sm"
              href="/logout"><i class="ci-sign-out me-2"></i>Sign out</a>
          </div>
          <!-- Addresses list-->
          <div class="table-responsive fs-md">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% adrsdata.forEach((adrsModal, index)=> {%>

                  <% adrsModal.add.forEach((adrs)=> {%>
                    
                    <tr>
                      <td>
                        <%= index +1 %>
                      </td>
                      <td class="py-3 align-middle">
                        <%= adrs.fullAddress %>, near <%= adrs.landmark %>, <%= adrs.district %>
                      </td>
                      <td class="py-3 align-middle"><a class="nav-link-style me-2" href="#edit<%= adrs._id %>"
                          data-bs-toggle="modal" title="Edit"><i class="ci-edit"></i></a>
                          <a
                          class="nav-link-style text-danger" href="/deleteAddress?id=<%= adrsModal._id %>" data-bs-toggle="tooltip" title="Remove">
                          <div class="ci-trash"></div>
                        </a></td>
                    </tr>
                    
                    <% });%>

                      <% }); %>


              </tbody>
            </table>

          </div>
          <div class="text-sm-end pt-4"><a class="btn btn-primary" href="#add-address" data-bs-toggle="modal">Add new
              address</a></div>
        </section>
      </div>
    </div>
  </main>
  <!-- Footer-->
    
    <footer class="footer bg-dark ">
  
  <div class="pt-5 bg-darker">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-12 col-sm-12 mb-4">
          <div class="d-flex justify-content-center"><i class="ci-lightning text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Electro by <span class="text-primary">  <a href="https://github.com/ahmadsalahuddeen">@salahCodes</a> </span> </h6>
              <h6  class="mb-0 fs-ms  font-monospace text-white   opacity-50">This project is build to practice and learn Backend in my journey of becoming a Full-stack developer (Mern (thinking about switching to svelt :-)), practiced Nodejs, Express, Mongodb, MVC pattern, RestAPI and many more. {note: 65% of userInterface(html, css, bootstrap) is obtained from a template. as my primary objective was to learn amd improve my Backend Skills (You can visit my <a href="https://github.com/ahmadsalahuddeen"><span class="text-success text-opacity-100">github</span></a>  to see my other Projects) } </h6>
            </div>
          </div>
        </div>
        
      <hr class="hr-light mb-5">
      <div class="row pb-2">
        <div class="col-md-6 text-center text-md-start mb-4">
          <div class="text-nowrap rounded p-3 bg-white mb-4"><a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block"
                src="/img/electro-logo.png" width="117" alt="Cartzilla"></a>
           
          </div>
          
        </div>
        <div class="col-md-6 text-center text-md-end mb-4">
          <div class="mb-3"><a class="btn-social bs-light bs-twitter ms-2 mb-2" href="https://twitter.com/salahuddeen6017"><i
                class="ci-twitter"></i></a>
                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://www.instagram.com/salahcodes/"><i
                class="ci-instagram"></i></a>
                <a class="btn-social bs-light bs-instagram ms-2 mb-2" href="https://github.com/ahmadsalahuddeen"><i
                ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></i></a>
                <a class="btn-social bs-light bs-youtube ms-2 mb-2" href="https://www.youtube.com/channel/UCOyK9QcS9N_Fn_2OVbuH7qQ"><i
                class="ci-youtube"></i></a></div>
               </div>
        </div>
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© openSourced by <a
          class="text-light" href="https://github.com/ahmadsalahuddeen" target="_blank" rel="noopener">ahmad salahuddeen (salahCodes)</a></div>
    </div>
  </div>
 </footer>
  <!-- Toolbar for handheld devices (Default)-->
  <div class="handheld-toolbar">
    <div class="d-table table-layout-fixed w-100"><a class="d-table-cell handheld-toolbar-item"
        href="/wishlist"><span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span
          class="handheld-toolbar-label">Wishlist</span></a>
          <a class="d-table-cell handheld-toolbar-item"
        href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        onclick="window.scrollTo(0, 0)"><span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span
          class="handheld-toolbar-label">Menu</span></a>
          <a class="d-table-cell handheld-toolbar-item"
        href="/cartmanage"><span class="handheld-toolbar-icon"><i class="ci-cart"></i><span
            class="badge bg-primary rounded-pill ms-1">4</span></span><span
          class="handheld-toolbar-label"></span></a></div>
  </div>
  <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
      class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
    </i></a>
  <!-- Vendor scrits: js libraries and plugins-->
  <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/simplebar/dist/simplebar.min.js"></script>
  <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
  <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <!-- Main theme script-->
  <script src="js/theme.min.js"></script>
</body>


</html>